[alias]
    b = branch
    bm = blame
    c = checkout
    cm = commit
    st = status
    p = pull
    
[difftool "sourcetree"]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
    path =
    
[mergetool "sourcetree"]
    cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
    
[user]
	email = fujitanaoki0718@gmail.com
	name = Naoki Fujita
[pull]
	rebase = false
